@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

u{
    margin: 40px 85vh;
    font-size: 23px;
    background-color: black;
    color: red;
  }
  p{
    margin: 40px 83vh;
    font-size: 23px;
    background-color: black;
    color: red;
  }

  table, th, td {
    border: 1px solid red;
    border-collapse: collapse;
    padding: 9px;
    margin: 20px 530px;
    background-color: black;
    color: red;
  }
   div{
    font-family: 'Creepster', cursive;
    font-size: 19px;
   }
   div a{
    text-decoration: none;
    color: red;
   }
  body{
    background-color: black;
  }
         
